/* line 8, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-toggler-component="content"] {
  display: none; }
  /* line 10, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-toggler-component="content"]:not([data-ur-state]) {
    display: none; }
  /* line 13, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-toggler-component="content"][data-ur-state="enabled"] {
    display: block; }

/* line 19, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-tabs-component="content"] {
  display: none; }
  /* line 21, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-tabs-component="content"]:not([data-ur-state]) {
    display: none; }
  /* line 24, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-tabs-component="content"][data-ur-state="enabled"] {
    display: block; }

/* line 30, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-state="hide"] {
  display: none !important; }

/* line 51, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-carousel-component='view_container'] {
  width: 100%;
  overflow-x: hidden; }
  /* line 41, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-carousel-component='view_container'] [data-ur-carousel-component="scroll_container"]:not([style]) [data-ur-carousel-component='item'] {
    visibility: hidden; }
    /* line 44, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
    [data-ur-carousel-component='view_container'] [data-ur-carousel-component="scroll_container"]:not([style]) [data-ur-carousel-component='item']:nth-of-type(1) {
      visibility: visible; }

/* line 56, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-carousel-component="scroll_container"] {
  display: block;
  clear: both; }
  /* line 59, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-carousel-component="scroll_container"] [data-ur-carousel-component="item"] {
    display: inline-block;
    float: left; }
  /* line 63, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-carousel-component="scroll_container"] img {
    -webkit-user-drag: none; }

/* line 67, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-carousel-component="dots"] {
  text-align: center;
  margin-bottom: 10px; }

/* line 71, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
[data-ur-carousel-component="dot"] {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: black;
  display: inline-block;
  margin: 0 1px;
  opacity: 0.8;
  width: 10px;
  height: 10px; }
  /* line 80, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/uranium */
  [data-ur-carousel-component="dot"][data-ur-state="inactive"] {
    opacity: 0.3; }

/* line 13, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 23, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
body {
  line-height: 1; }

/* line 29, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
ol, ul {
  list-style: none; }

/* line 32, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
blockquote, q {
  quotes: none; }

/* line 36, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 40, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/reset */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 281, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-AddCartButton {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px 0px;
  width: 126px;
  height: 30px; }

/* line 287, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-MultippleAddresses {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -31px;
  width: 213px;
  height: 30px; }

/* line 293, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-ProceedToCheckout {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -62px;
  width: 140px;
  height: 30px; }

/* line 299, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-ProceedToPayment {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -93px;
  width: 139px;
  height: 30px; }

/* line 305, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-SaveReview {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -124px;
  width: 126px;
  height: 30px; }

/* line 311, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-UpdateQuanity {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -155px;
  width: 126px;
  height: 30px; }

/* line 317, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-WriteReview {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -186px;
  width: 126px;
  height: 30px; }

/* line 323, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-back {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -217px;
  width: 43px;
  height: 32px; }

/* line 329, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-breadcrumb {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -250px;
  width: 5px;
  height: 8px; }

/* line 335, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-btn_back {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -259px;
  width: 9px;
  height: 13px; }

/* line 341, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-btn_bg {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -273px;
  width: 2px;
  height: 2px; }

/* line 347, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-cart {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -276px;
  width: 44px;
  height: 39px; }

/* line 353, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-form_bg {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -316px;
  width: 179px;
  height: 33px; }

/* line 359, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-go_btn {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -350px;
  width: 41px;
  height: 30px; }

/* line 365, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-gplus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -381px;
  width: 256px;
  height: 256px; }

/* line 371, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-menu-on {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -638px;
  width: 60px;
  height: 33px; }

/* line 377, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-menu {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -672px;
  width: 60px;
  height: 33px; }

/* line 383, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-menu_go {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -706px;
  width: 9px;
  height: 13px; }

/* line 389, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-minus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -720px;
  width: 13px;
  height: 13px; }

/* line 395, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-moovweb {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -734px;
  width: 90px;
  height: 11px; }

/* line 401, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-ok {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -746px;
  width: 15px;
  height: 15px; }

/* line 407, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-plus {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -762px;
  width: 13px;
  height: 13px; }

/* line 413, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-search {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -776px;
  width: 40px;
  height: 33px; }

/* line 419, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-twitter {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -810px;
  width: 300px;
  height: 300px; }

/* line 425, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/globals/_sprites */
.sprites-user {
  background: url("/_moovweb_local_assets_/images/sprites.png") no-repeat 0px -1111px;
  width: 44px;
  height: 39px; }

/* line 1, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
header.mw-header {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #ca3300;
  height: 125px;
  /*.mw-headerClass {
		background-color: #ca3300;
		padding:0;
		margin:0;
		width: 100%;
	}*/ }
  /* line 13, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
  header.mw-header .mw-logo {
    background-color: #ca3300;
    padding-bottom: 10px;
    display: block;
    height: 75px; }
    /* line 18, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
    header.mw-header .mw-logo h1 {
      margin-bottom: 5px;
      padding: 10px; }
      /* line 21, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
      header.mw-header .mw-logo h1 a {
        color: white;
        text-decoration: none;
        font-size: 80%; }
      /* line 26, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
      header.mw-header .mw-logo h1 a:visited {
        color: white; }
      /* line 29, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
      header.mw-header .mw-logo h1 span {
        font-size: 24px; }
  /* line 34, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
  header.mw-header .mw-search {
    background-color: #932000;
    width: 100%;
    overflow: hidden;
    height: 50;
    padding: 10px;
    box-sizing: border-box; }
    /* line 41, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
    header.mw-header .mw-search .mw-searchQuery {
      margin-right: 10px; }
  /* line 45, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/header */
  header.mw-header .mw-search::after {
    background-color: #932000; }

/* line 1, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/footer */
footer.mw-footer {
  background-color: #932000;
  color: white;
  text-align: center; }
  /* line 5, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/sections/footer */
  footer.mw-footer .mw-footerBold {
    font-weight: bolder;
    font-size: 24px; }

/* line 3, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
body {
  padding: 0;
  margin: 0; }

/* line 8, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-content .mw-homeFeaturedProducts {
  display: block; }
  /* line 10, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
  .mw-content .mw-homeFeaturedProducts h2 {
    text-align: center; }
  /* line 13, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
  .mw-content .mw-homeFeaturedProducts .mw-featuredProducts {
    /*padding: 0;
		  	display: block;*/
    overflow: hidden; }
    /* line 17, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
    .mw-content .mw-homeFeaturedProducts .mw-featuredProducts ul {
      /*display: block;*/
      overflow: hidden; }
      /* line 20, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
      .mw-content .mw-homeFeaturedProducts .mw-featuredProducts ul li {
        display: inline-block;
        float: left;
        padding-left: 10px;
        overflow: hidden;
        width: 150px; }
        /* line 26, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
        .mw-content .mw-homeFeaturedProducts .mw-featuredProducts ul li .mw-addToCart {
          margin-top: 10px;
          padding: 15px;
          color: white;
          font-size: 14px;
          font-weight: bold;
          border-radius: 5px;
          background-color: #932000;
          white-space: nowrap;
          overflow: hidden;
          text-align: center; }
          /* line 37, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
          .mw-content .mw-homeFeaturedProducts .mw-featuredProducts ul li .mw-addToCart a {
            color: inherit;
            text-decoration: none; }
          /* line 41, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
          .mw-content .mw-homeFeaturedProducts .mw-featuredProducts ul li .mw-addToCart a:visited {
            color: inherit; }
/* line 50, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-content .mw-homeNewProducts h2 {
  text-align: center; }
/* line 53, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-content .mw-homeNewProducts .mw-newProducts {
  /*padding: 0;
		  	display: block;*/
  overflow: hidden; }
  /* line 57, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
  .mw-content .mw-homeNewProducts .mw-newProducts ul {
    /*display: block;*/
    overflow: hidden; }
    /* line 60, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
    .mw-content .mw-homeNewProducts .mw-newProducts ul li {
      display: inline-block;
      float: left;
      padding-left: 10px;
      overflow: hidden;
      width: 150px; }
      /* line 66, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
      .mw-content .mw-homeNewProducts .mw-newProducts ul li .mw-addToCart {
        margin-top: 10px;
        padding: 15px;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
        background-color: #932000;
        white-space: nowrap;
        overflow: hidden;
        text-align: center; }
        /* line 77, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
        .mw-content .mw-homeNewProducts .mw-newProducts ul li .mw-addToCart a {
          color: inherit;
          text-decoration: none; }
        /* line 81, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
        .mw-content .mw-homeNewProducts .mw-newProducts ul li .mw-addToCart a:visited {
          color: inherit; }

/* line 90, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
h2 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 15px; }

/* line 95, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-dots {
  padding: 10px; }

/* line 98, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
a {
  color: inherit;
  text-decoration: none; }

/* line 102, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
a:visited {
  color: inherit; }

/* line 105, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-hidden {
  display: none; }

/* line 108, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.clear {
  clear: both; }

/* line 111, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.test {
  background-color: blue;
  color: white; }

/* line 115, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.mw-modal {
  /*position: fixed;
	z-index: 3100; */
  /*width: 700px; */
  width: 100% !important;
  margin-left: 0 !important;
  left: 0 !important;
  /*margin-left: -350px; 
	top: 10%; 
	height: 588.8px; 
	bottom: 0px; 
	overflow-y: scroll;
*/ }

/* Modal styles */
/* line 131, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalOverlay {
  background-color: #000; }

/* line 135, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalContainer {
  left: 50%;
  top: 15%; }

/* line 140, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.modalClose {
  z-index: 100000;
  cursor: pointer;
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 10px;
  top: 10px;
  background: url('close.gif') no-repeat; }

/* line 152, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalLoadingOverlay {
  background: #000;
  cursor: pointer; }

/* line 157, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalLoadingIndicator {
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background: url(loading.gif) no-repeat;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30001; }

/* line 169, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalContentContainer {
  -webkit-box-shadow: 0 0 30px 4px #777;
  -moz-box-shadow: 0 0 30px 4px #777;
  box-shadow: 0 0 30px 4px #777;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-background-clip: padding-box; }

/* line 178, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalTitle, .ModalTitle {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  background: #f2f4f7;
  color: #313131;
  font-size: 110%;
  font-weight: bold;
  padding: 10px 14px;
  border: 1px solid #606263;
  border-bottom-color: #b8b8b8;
  -webkit-background-clip: padding-box;
  text-align: left; }

/* line 194, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalContent, .ModalContent {
  border: 1px solid #606263;
  border-top-width: 0;
  background: #fff;
  margin: 0;
  text-align: left;
  color: #444;
  padding: 10px; }

/* line 204, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalContent a, .ModalContent a {
  color: #444; }

/* line 208, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
.ModalContentWithButtons .ModalContent, .ModalContentWithButtons #ModalContent {
  margin-bottom: 0;
  border-bottom-width: 0; }

/* line 213, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalButtonRow, .ModalButtonRow {
  border: 1px solid #606263;
  border-top-color: #919394;
  background: #e7ebf0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-background-clip: padding-box;
  text-align: right;
  padding: 4px 8px;
  height: 30px;
  line-height: 30px; }

/* line 228, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalButtonRow input, .ModalButtonRow input {
  text-align: center; }

/* line 233, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/home */
#ModalButtonRow input.Submit, .ModalButtonRow input.Submit, #ModalButtonRow input.SubmitButton, .ModalButtonRow input.SubmitButton {
  font-weight: bold; }

/* line 1, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-productMain {
  background-color: #D0D0D0;
  margin: 5px; }

/* line 5, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-detailRow {
  clear: both;
  display: block;
  overflow: hidden;
  margin-bottom: 10px; }

/* line 11, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-label {
  float: left;
  display: block;
  margin-right: 10px; }

/* line 16, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-value {
  float: left;
  display: block; }

/* line 20, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-bottomMargin {
  margin-bottom: 10px; }

/* line 23, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-topMargin {
  margin-top: 10px; }

/* line 26, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #932000; }

/* line 36, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-cartButtonDiv {
  margin-top: 30px; }

/* line 39, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-cartButton {
  background-color: #932000;
  color: white !important;
  /*margin-top: 30px;*/
  border-radius: 5px;
  font-weight: normal !important;
  padding: 5px; }
  /* line 46, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
  .mw-cartButton a {
    color: inherit; }
  /* line 49, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
  .mw-cartButton a:visited {
    color: inherit; }

/* line 53, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-bold {
  font-weight: bold; }

/* line 56, /home/pbywebapp/Moovweb Projects/igadget/assets/stylesheets/pages/product */
.mw-padding {
  padding: 8px; }
